<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/favicon.png"/>
  <script src="js/cursor.js" type="text/javascript"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
</head>

<body>
<div class="wrapper">
  <h1>Transient Sensors<br>and the Eternal Algorithmic Composition</h1>
  <p id="brief">{{ description }}</p>

  <div id="gallery">
    <p>
    {{#each collections.projects}}

      <span class="author">{{this.author}}</span> <br>
      <a href="{{this.path}}">
      <i>{{this.title}}</i>
    </a>
    <br>
    {{/each}}
    </p>
  </div>
</div>
  <footer>
    <p><i>Course offered in WiSe 20/21 @ HfK Bremen<br>a website made by Qianxun Chen + Nilya Musaeva</i></p>
  </footer>

</body>
</html>
